<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <!--Enter the client id from the portal.-->
    <add key="ClientId" value="sumtotal_oidca"/>
    <!--Enter the client secret from the portal-->
    <add key="ClientSecret" value="secret_oidc"/>
    <!--Default scope is all-->
    <add key="Scope" value="allapis"/>
    <!--Enter the URL for the Service-->
    <add key="Environmnet" value="https://au10sales.sumtotaldevelopment.net"/>
    <!--Enter the redirect uri for service-->
    <add key="RedirectUri" value="https://test.sumtotal.com/oidc"/>
    <!--CreateUserObject-->
    <add key="loginName" value="sampleAPP7"/>
    <add key="userId" value=""/>
    <add key="password" value="p"/>
    <add key="domainId" value="-1"/>
    <add key="userTypeId" value="3"/>
    <add key="usersecurityRoleId" value="-100"/>
    <add key="firstName" value="TEST"/>
    <add key="lastName" value="TEST"/>
    <add key="email" value="test6@testing.com"/>
    <add key="languageId" value="1"/>
    <add key="timeZoneId" value="8"/>
    <add key="status" value="1"/>
    <!--Indicate if you want a b2b call-->
    <add key="b2b" value="false"/>
  </appSettings>
</configuration>
